MONGODB_URI=mongodb://UTS_BACKEND:12345678%40@ac-zg5vx83-shard-00-00.vfzzv7o.mongodb.net:27017,ac-zg5vx83-shard-00-01.vfzzv7o.mongodb.net:27017,ac-zg5vx83-shard-00-02.vfzzv7o.mongodb.net:27017/?ssl=true&replicaSet=atlas-jckcgo-shard-0&authSource=admin&appName=Cluster0

# App Configuration
PORT=5000
JWT_SECRET=GvafJqMHyqVnJGdo
NODE_ENV=development